{% extends 'pages/exhibition.form.html.twig' %}

{% block title %}Formulario de edición de exposición{% endblock %}

{% block form %}
    {{ form_start(form, {'attr': {'id': 'exhibition-form-edit'}}) }}
    <section class="form-section form-section-info">
        <h4><i class="fas fa-solid fa-circle-info"></i> Información general</h4>
        {{ form_row(form.name, {
            required: false
        }) }}
        {{ form_row(form.author, {
            required: false
        }) }}
        {{ form_row(form.description, {
            required: false
        }) }}
    </section>
    <section class="form-section form-section-detail">
        <h4><i class="fas fa-solid fa-asterisk"></i> Detalles</h4>
        {{ form_row(form.startAt, {
            required: false
        }) }}
        {{ form_row(form.room, {
            required: false
        }) }}
        {{ form_row(form.category) }}
    </section>
    <section class="form-section form-section-image">
        <h4><i class="fas fa-solid fa-image"></i> Imagen</h4>
        {{ form_row(form.imageSrc, {
            required: false,
            help: '* Si no se añade ninguna imagen nueva se mantendrá la actual.'
        }) }}
        <p id="validate-image-file" class="help-text font-bold"></p>
        {{ form_row(form.width, {
            required: false
        }) }}
        {{ form_row(form.height, {
            required: false
        }) }}
    </section>
    <section class="form-section form-section-submit">
        {{ form_row(form.submit, {
            label: 'Editar'
        }) }}
    </section>
    {{ form_end(form) }}
{% endblock %}
